/* styles.css */
@keyframes rotateAroundCenter {
    0% {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

.quad-container {
    position: relative;
    width: 300px;
    height: 300px;
    animation: rotateAroundCenter 20s linear infinite;
    transform-style: preserve-3d;
}

.quad {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: transform 1s, box-shadow 1s;
}

.quad::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(0.9);
    transition: transform 1s, opacity 1s;
    opacity: 0.5; /* Initial opacity for the trail effect */
}

.quad1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: #f1c40f;
    border-color: #e67e22;
}

.quad2 {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #34495e;
    border-color: #2ecc71;
}

.quad3 {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: #9b59b6;
    border-color: #8e44ad;
}

.quad4 {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #d32f2f;
    border-color: #c0392b;
}

.quad5 {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: #1abc9c;
    border-color: #16a085;
}

.rotating {
    animation: rotateAroundCenter 20s linear infinite;
}
